#time-widget {
	.date {
		font-size: 1.5em
	}
	.time {
		font-size: 5em;
		margin-top: -15px;
		.hour, .minute {
			width: 90px;
		}
		.second {
			color: rgba(255, 255, 255, 0.5);
			margin-top: 15px;
			display: inline-block;
			font-size: 36px;
			width: 0px;
			vertical-align: top;
		}
		.meridiem {
			font-size: 40px;
		}
	}
	.schedule {
		margin-top: 26px;
		i {
			margin-right: 10px
		}
	}
}