#weather-widget {
	text-align: right;
	.current {
		margin-top: -29px;
		font-size: 5em;
	}
	.peaks {
		margin-top: -15px;
		.hi, .lo {
			display: inline-block
		}
	}
	.astronomy {
		margin-bottom:25px;
		.sunrise, .sunset {
			display: inline-block
		}
	}
	.peaks {
		margin-top: -15px;
		margin-bottom: 25px;
		.hi {
			display: inline-block
		}
		.lo {
			display: inline-block
		}
	}
	.forecast {
		text-align: right;
		.hi {

		}
		.lo {

		}
		.text {

		}
	}
	.outlook {
		text-align: right;
	}
	.sunrise {

	}
	.sunset {

	}
}